extends layout

block content
  header
    img(src='images/HIVEPROJECTLOGO.png')
    p #{slogan}

  .cd-tabs
    nav
      ul(class='cd-tabs-navigation')
        li: a( data-content="inbox", class="selected cd-tab-link", href="#home", data-cd-tab="home") #{hivetab}
        li: a( data-content="new", class="cd-tab-link", href="#techtab", data-cd-tab="techtab") #{techtab}
        li: a( data-content="gallery", class="cd-tab-link", href="#collabtab", data-cd-tab="collabtab") #{collabtab}
        li: a( data-content="store", class="cd-tab-link", href="#docstab", data-cd-tab="docstab") #{docstab}
        li: a( data-content="settings", class="cd-tab-link", href="#forumtab", data-cd-tab="forumtab") #{forumtab}
        li: a( data-content="trash", class="cd-tab-link", href="#membershiptab", data-cd-tab="membershiptab") #{membershiptab}
    ul(class="cd-tabs-content")

      li( data-content="inbox", class="selected")
        h1 Get. Mad.
        span(class="block-getmad")
          img(src='images/GetMad.png', class="getmad")
          p It’s Time. The 21st century is the era of human and robotic companionship. However, much of today’s robotic technologies are misdirected in their applications and audience. In addition, robotic advancements have been limited through a complicated web of corporate constructs, but HIVE is unique in that we aim to use a community-based, open-sourced platform to push the industry forward. We have been handed the torch. It's time to start hacking.
        h1 About
        span(class="block-getmad")
          img(src='images/about.png', class="getmad")
          p HIVE is an open source project founded upon 
            a(class="cd-tab-link", data-cd-tab="collabtab") revolutionary robotic mobility technology 
            | and a 
            a(class="cd-tab-link", data-cd-tab="collabtab") community-based collaboration method. 
            | Our goal is to establish, evolve and expand robotic colonies within urban zones throughout the world.
        h1 An Open Source Experience:
          p HIVE's design files, code docs and construction blueprints are available, in their entirety, to all members of the community. However, in today’s competitive robotic industry, this is simply not enough. Therefore, we’ve engineered a member-based collaboration system to allow our loyal members the ability to control our state-of-the-art robots from anywhere in the world. Our members have the ability to integrate their own coding into a robot’s “brain”, apply hardware and mechanical upgrades, and test the effectiveness of their creations; and all of this is possible from the comfort of their own home!
        .block-graphic-collab
          img(src='images/hivecollaboration.png') 

      li(data-content="new")
        h1 Technologies for everyone!
          p HIVE has a bold mission which uses a full spectrum of cutting-edge technologies. This technological advantage allows HIVE to attract a wide scope of members from the hacker community.

        h1 Hardware
          p We believe in agile, fail-fast testing. We use practical, yet powerful, hardware such as Sabertooth driving boards, Spark Cores (wifi dev) and the essential prototyping platforms such as Arduino and Raspberry Pi. However, these should not be viewed as limitations, but rather foundations. 
          .block-software-logos
            img(src='images/arduino.png')
            img(src='images/raspberry.png' class="raspberrysize")

        h1 Robotic Platform
          p The project was founded upon cutting-edge robotic mobility technology known as Articulated Traction Control, or ATC, which was invented by Transcend Robotic's cofounder Andrew Ferguson. ATC has conquered previously difficult obstacles such as stairs and curbs and made them a problem of the past. Transcend Robotics, the project sponsor, has opened ATC to all members and allows them to use their own personal creations rather than selling to governmental agencies and large corporations. This robotic platform is HIVE’s foundation. Read more by clicking the images.
          .block-software-logos
            img(src='images/transcend.png')
            img(src='images/gizmodo.png' class="gizmodosize")
            img(src='images/botmag.png' class="botmagsize")
            img(src='images/robohub.jpg' class="robohubsize")
          .block-software-logos
            img(src='images/grounddrone.png' class="grounddronesize")

        h1 Embedded Software 
          p We primarily code in C++ (Arduino Sketch) and subtypes of JavaScript such as Spark.js and Node.js. If you have experience or a basic understanding of JavaScript and sketches you will be integrating code into our robots for testing in short time. 
          .block-software-logos
            img(src='images/cpp.png')
            img(src='images/python.png') 

        h1 Web / Telepresence Command Application (TCA)
          p HIVE's fundamental priority is robotic development through community engagement. We incorporate a user-friendly telepresence application with live video stream. Mobility is further enhanced via gimbal swivel controls. Our interface is also open-sourced in order to allow members to build upon its current structure in order to extend it for additional control or create their own unique telepresence app.
          .block-software-logos
            img(src='images/node.png') 
            img(src='images/mongodb.png' class="mongosize") 
            img(src='images/jade.png' class="jadesize") 

        h1 Eletrical / Power
          p Our members are ambitious. They aim to replicate and improve upon the open source patents that Tesla has released for their batteries. Additionally, we use NiCAD, SLA, Li-poly batteries. 
          .block-software-logos
            img(src='images/tesla.png', class="teslasize") 

      li(data-content="gallery")
        h1 Collaboration
          p Hive is much more than a traditional open source experience. We provide our members with blueprint documentation, Github code and a member-forum communication channel; from which our members are able to use these tools to build and improve robots in direct collaboration with the forum commuity. Below is our plan to grow HIVE’s robot colonies;
        .block-graphic-collab
          img(src='images/hivecollaboration.png') 

      li(data-content="store")
        h1 Coming on April 24th, 2015 
        

      li(data-content="settings")
        h1 Coming on April 24th, 2015 

      li(data-content="trash")
        span(class="danger")
          img(src='images/skull.png')
          img(src='images/danger.png')
          img(src='images/nuclear.png')
        br
        br
        span(class="githublogin")
          form(action="/login", method='post')
            input(value='' name='email' placeholder='email' type='text')
            input(value='' name='password' placeholder='password' type='text')
            input(type='submit' value='knock')
        br
        br
        span(class="join")
          img(src='images/join.png')
          form(action='/join/new_user',method='post')
            input(value='' name='fname' placeholder='first name' type='text')
            input(value='' name='lname' placeholder='last name' type='text')
            input(value='' name='email' placeholder='email' type='text')
            input(value='' name='password' placeholder='password' type='password')
            input(value='' name='interests' placeholder='your interests' type='text')
            input(type='submit')
            
